section{
    display: grid;
    grid-template-rows: repeat(4, 23vh);
    grid-template-columns: 95vw;
    grid-row-gap: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section{
    background-color: #ebebeb;
}

.part-grid{
 display: grid;    
 width: 90%;
 height: 90%;    
 grid-template-rows: 95%;
 grid-template-columns: repeat(3,32.7%);
 grid-column-gap: 3%;
 margin-top: 1.6vh;
 margin-left: 3.2%;
 color: white;   
}

.part{
    display:grid;
    grid-template-rows: repeat(6, 20%);
    grid-template-columns: 100%;
    background-color:#b0b0b0;
}

.top {
   display: grid;
   grid-template-columns: 30% 70%;
   grid-template-rows: 100%;   background-color:#333333;
   border: 2px solid white;  
}

.check{
    background-color: #8c8c8c;
}

.link {
   background-color:#4a4a4a;
   border: 2px solid white;    
}

.name {
   background-color:#6b6b6b;
   border: 2px solid white;  
}

.price {
   background-color:#4a4a4a;
   border: 2px solid white;  
}

.star-number {
   background-color:#333333; 
   border: 2px solid white; 
}


