*{
    box-sizing: border-box;
}
body{
   padding:0;
   margin:0;
   background-color: #A0A0A3;    
}

/*LANDING PAGE*/

/*Search*/
/*Story*/
/*Explanation*/
/*Start*/

/*HASHTAG FORMER*/

/*Explanation*/
/*Adverb*/
/*Verb/
/*Noun*/

/*HASHTAG FORMER*/

/*Exercise*/
/*Answer*/
/*Tweet/


